<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="one">
        {% block content %}
        {% endblock %}
          
          
            
        </div>
    </div>
</body>
</html>

<style>
html {
        background-color: #151F4F;
    }

    .one {
        background-color: #202D6B;
        color: aliceblue;
        text-align: center;
        position: relative;
        margin-left: 30%;
        margin-right: 30%;
    }

</style>